--extra-index-url https://download.pytorch.org/whl/cu128
torch == 2.7.1
torchvision == 0.22.1
onnx == 1.18.0
numpy >= 1.23, < 2.3.0
pyyaml == 6.0.2
tensorboard == 2.19.0
tensorboard-data-server == 0.7.2
tqdm == 4.67.1
requests == 2.32.4
matplotlib == 3.10.3

huggingface_hub == 0.34.3
einops == 0.8.1
hydra-core == 1.3.2
iopath == 0.1.10
wcmatch == 10.1
opencv-python == 4.12.0.88
fvcore == 0.1.5.post20221221

pycolmap == 3.10.0
pyceres == 2.3
ipdb == 0.13.13
git+https://github.com/cvg/LightGlue.git